body {
    display: flex;
    flex-direction: column;

}

.header {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    padding-bottom: 150px;
}

.header-top {
    display: flex;
    justify-content: space-around;
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 50px;
    gap: 400px;
     

}
.header-bottom {
    display: flex;
    padding-left: 250px;
    padding-right: 200px; 
    align-items: center;
    justify-content: space-around;
    }

.header-logo {
    font-size: 24px;
    color: #F9FAF8;

}

.header-links, .header-par, button {
    display: flex;
    font-size: 18px;
    color: #E5E7EB;
}



ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

 
.header-text {
    display: flex;
    flex-direction: column;
    width: 500px;
    flex-wrap: wrap;
    

}

h1 {
    display: flex;
    width: 350px;
    flex-wrap: wrap;
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    
}

button {
    display:flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    background-color: #3882F6;
    width: 100px;
    height: 40px;
    border-radius: 15px;
    
}
.placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px; 
    height: 200px; 
    background-color: #9b9ca0;
}

 /*Here starts style for content*/
 
 
 /*Random information section*/

.content {
    display: flex;
    flex-direction: column;

}

.random-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px;
     
}
h2 {
    color: #1F2937;
    font-size: 36px;
    font-weight: bolder;
}
.random-info {
    display: flex;
    gap: 50px;
    
}
.pic-text {
    display: flex;
    flex-direction: column;
    align-items: center;


}
img {
    width: 200px;
    height: 200px;
    border-color: #3882F6;
    border-style: groove;
    border-radius: 15px;
}
.random-text {
    display: flex;
    flex-wrap: wrap;
    width: 150px;
    text-align: center;
}

/*Section with quote*/

.quote {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    align-items: center;
    padding-bottom: 100px;
}
.quote-text {
    display: flex;
    flex-wrap: wrap;
    width: 700px;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    margin-bottom: 10px;
}
.quote-source {
    display: flex;
    margin-top: 0;
    margin-left: 500px;
    font-weight: bold;
  
}

/*Here starts style for call to action*/

.promote-action {
    display: flex;
    justify-content: center;
    
}

.promote-box {
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 10px;
    padding-left: 10px;
    align-items: center;
    width: 700px;
    gap: 50px;
    background-color: #3882F6;
}

.promote-text, .promote-button {
    color: #F9FAF8;
}

h3 {
    font-weight: bold;
    display: flex;
    margin-bottom: 0px;
}
 .promote-instructions {
     display: flex;
     margin-top: 0px;
 }
.promote-button {
    border-radius: 15px;
    border-color: #F9FAF8;
    border-style: groove;
}

/*Here starts style for footer*/
.footer {
    display: flex;
    justify-content: center;
    background-color: #1F2937;
    margin-bottom: 0px;
}

.footer-text {
    color: #E5E7EB;
}